<div class="card card-image">
  <div class="text-white text-center rgba-stylish-strong py-5 px-5">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text">John Bryce final project by Rotem Zmora and Ofir Ben Dahan</h5>
      <h2 class="card-title h2 my-4 py-2"> Coupon Systeam Website</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">This is our final project, demonestrating all the technologies we learned throughout the course<br>
      For server side we used: Java, Springboot, MySql and Hibernate<br>
      For client side we used: Angular, Bootstrap and Material</p>
      <button (click)="navigateLogin()" mat-raised-button class="login-button">Login</button>

    </div>
  </div>
</div>

