
  <div style="background: url(assets/imgs/pexels-photo-747964.jpeg)" class="page-holder bg-cover">
    <router-outlet></router-outlet>
  </div>
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Coupon System Website</h5>
        <p>This site was developed by Rotem Zmora and Ofir Ben Dahan as a final project for our Java Fullstack Development course at John Bryce</p>

      </div>
      <!-- Grid column -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->


  <!-- Copyright -->
  <div class="footer-copyright text-center py-2">© 2020 Copyright:
    <a href="https://github.com/RotemZmo"> github.com/RotemZmo</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
